
body {
    padding-top: 100px;
    background-color: #2C3333;
    color: #F0FBFF;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
    position: relative;
    padding-bottom: 300px;
    min-height: 100vh;
}

h4 {
    margin-top: auto;
}

.margin-bottom-25px {
    margin-bottom: 25px;
}

.form-control {
    display: inline-block;
    width: 25vw;
    text-align: center;
    margin: 0 10px 0 10px;
}

.markdown-content-section {
    margin: 0 150px;
    text-align: left;
    padding: 50px;
    border-radius: 25px;
    border: #566363;
    border-style: solid;
}

.markdown-content-section a {
    color: #8EF0D9;
    text-decoration: none;
    padding: 10px;
}

.markdown-content-section a:hover {
    color: #CBE4DE;
}

.markdown-content-section pre {
    background-color: #374040;
    padding: 20px;
    border-radius: 10px;
}

.home-page-btn {
    font-family: 'Merriweather', serif;
    padding: 10px 20px 10px 20px;
    color: #F0FBFF;
    background: #2E4F4F;
}

.home-page-btn:hover {
    background: #0E8388;
}